//Variabler för SASS

$bgi: url(../BGI1.jpg);

$bgi_cover: cover;

$bgi_attach: fixed;

$main_width: 1000px;

$main_height: 1000px;

$main_margin: auto;

$bgc: rgb(20, 2, 2);

$main_border: 2px solid rgb(158, 9, 9);

$text_align: center;

$opacity: .999;

$main_font: 60px;

$text_font: 30px;

$float_left: left;

$margin_top: 30px;

$text_color: white;

$margin_left: 50px;

$margin_right: 50px;